/*
component > space
------------------------------
*/

/* クロスの装飾 */
.c-space {
    position: relative;
    width: 100%;
    height: 100%;
    outline: var(--outline-base);
    outline-offset: var(--outline-offset-base);
    overflow: hidden;
    z-index: 990;
}

.c-space::before,
.c-space::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 1px;
    background-color: var(--border-color-base);
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(8.5deg);
}

.c-space::after {
    transform: translate(-50%, -50%) rotate(-8.5deg);
}

.c-space_primary::before,
.c-space_primary::after {
    background-color: var(--border-color-primary);
}

/* クロスの装飾　画像付き */
.c-space_img {
    background-image: url(../../img/product/product-hero.webp);
    background-size: contain;
    background-attachment: fixed;
    height: 20vh;
}