/*
news > news
------------------------------
*/

.news-container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .news-container {
        grid-template-columns: 3fr 1fr;
    }
}