/* 横移動テキストセクション */
.sliding-text-section {
    overflow: hidden;
}

.sliding-text {
    font-size: 7vw;
    font-weight: bold;
    white-space: nowrap;
    transition: transform 0.1s ease-out;
}

/* 横スクロールセクション */
.horizontal-scroll-wrapper {
    /* スクロール距離 */
    height: 500vw;
}

.horizontal-scroll-sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transition: transform 0.1s ease-out;
}

.horizontal-panel {
    width: 50vw;
    height: 100vh;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: column;
    outline: var(--outline-base);
    outline-offset: var(--outline-offset-base);
}

.horizontal-panel-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-title {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6vh;
    padding: 0;
    text-align: left;
}

.horizontal-text {
    width: 70%;
    font-size: clamp(8px, 1.5vw, 14px);
    padding: 2vw;
    text-align: left;
}

.horizontal-table tbody {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2vw;
    padding: 2vw;
}

.horizontal-table tr {
    display: flex;
    flex-direction: column;
}

.horizontal-table th {
    font-size: clamp(8px, 1.5vw, 12px);
    font-weight: bold;
}

.horizontal-table td {
    font-size: clamp(8px, 1.5vw, 12px);
}

/* ズームセクション */
.zoom-wrapper {
    height: 300vh;
    position: relative;
}

.zoom-sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.zoom-image {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(45deg, #fa709a 0%, #fee140 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-out;
}

/* 横スクロール */
@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1600px);
    }
}

.scrolling-wrapper {
    width: 100vw;
    height: 15vw;
    overflow: hidden;
    position: relative;
}

.scrolling-container {
    width: 3200px;
    display: flex;
    /* アニメーションの適用 */
    animation: scroll-right 30s linear infinite;
}

.scrolling-container img {
    height: 15vw;
    object-fit: cover;
    display: block;
}

.concept-box {
    display: grid;
    grid-template-columns: 1fr;
}

.concept-box img {
    outline: var(--outline-base);
    outline-offset: var(--outline-offset-base);
    padding: 2vw;
}

.concept-wrap p {
    padding: 24px;
}

@media (min-width: 768px) {
    .concept-box {
        grid-template-columns: repeat(2, 1fr);
    }
}
