/*
tokushoho > tokushoho
------------------------------
*/

.tokushoho-inner {
    display: grid;
    grid-template-columns: 1fr;
}

.tokushoho-list {
    outline: var(--outline-base);
    outline-offset: var(--outline-offset-base);
    padding: 24px 24px 30vw 24px;
}

.tokushoho-list tr {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 5vw;
}

.tokushoho-list th {
    font-weight: bold;
}

@media (min-width: 768px) {
    .tokushoho-inner {
        display: grid;
        grid-template-columns: 3fr 1fr;

    }
}